@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  margin-bottom: 8px;
}

li p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-stroke {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ee3770;
}
